@page
@model SEP3.Pages.accountModel
@{
    ViewData["Title"] = "account";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/account.css" />

    <title>Account</title>
</head>

<body>
    <div class="layout">
        <center><img src="~/css/pictures/icons/logo1.png" width="500px" /></center>
        <div class="header">
            <div class="menu">
                <div class="item">
                    <div class="option" id="account">Account</div>
                </div>

                <div class="item">
                    <div class="option" id="notification">Notification</div>
                </div>

                <div class="item">
                    <div class="option" id="jobManagement">Jobs</div>
                </div>

                <div class="item">
                    <div class="option" id="history">History</div>
                </div>
            </div>
        </div>

        <div class="main">wc</div>

    </div>


</body>
</html>