@page
@model SEP3.Pages.account.jobPostModel
@{
    ViewData["Title"] = "jobPost";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="~/css/jobPost.css" />

    <title>Account</title>
</head>

<body>
    <div class="layout">
        <center><img src="~/css/pictures/icons/logo1.png" width="500px" /></center>

        <div class="main">
            <a id="back" href="jobManagement">← Back</a>
            <form id="postJob" method="post">

                <div class="items">
                    <label>Job Title:</label>
                        <div class="inputwrapper">
                            <input class="border-item" type="text" asp-for="NewJob.title" required>
                        </div>
                    </div>

                <div class="items">
                    <label>category:</label>
                    <div class="inputwrapper">
                        <select id="category" asp-for="NewJob.category"></select>
                    </div>
                    </div>

                    <div class="items">
                        <label>time:</label>
                        <div class="inputwrapper">
                            <input class="border-item" type="date" asp-for="NewJob.dateTime" required>
                        </div>
                        </div>

                        <div class="items">
                            <label>location:</label>
                            <div class="inputwrapper">
                                <input class="border-item" type="text" asp-for="NewJob.location" required>
                            </div>
                            </div>

                            <div class="items">
                                <label>wage:</label>
                                <div class="inputwrapper">
                                    <input class="border-item" type="number" asp-for="NewJob.price" required>
                                    </div>
                                </div>


                                <div class="items">
                                    <label>description:</label>
                                </div>
                                <div class="descriptionwrapper">
                                    <textarea id="description" asp-for="NewJob.description" required></textarea>
                                </div>


                                    <button type="submit" class="gradientButton" asp-page-handler="NewJob">Post</button>


</form>
    </div>
    </div>


</body>
</html>













