@page
@model SEP3.Pages.account.jobPostModel
@{
    ViewData["Title"] = "jobPost";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="~/css/jobPost.css" />

    <title>Account</title>
</head>

<body>
    <div class="layout">
        <center><img src="~/css/pictures/icons/logo1.png" width="500px" /></center>

        <div class="main">
            <a id="back" href="">← Back</a>
            <form id="postJob" method="post">

                <div class="items">
                    <label>Job Title:</label>
                    <input type="text" asp-for="NewJob.title">
                </div>

                <div class="items">
                    <label>category:</label>
                    <select asp-for="NewJob.category"></select>
                </div>

                <div class="items">
                    <label>time:</label>
                    <input type="date" asp-for="NewJob.time">
                </div>

                <div class="items">
                    <label>location:</label>
                    <input type="text"  asp-for="NewJob.location">
                </div>

                <div class="items">
                    <label>wage:</label>
                    <input type="number" asp-for="NewJob.wages">
                </div>

                
                <div class="items">
                    <label>description:</label>
                </div>
                <textarea id="description"  asp-for="NewJob.description"></textarea>


                <button type="submit" class="gradientButton">Post</button>

            </form>
    </div>
    </div>


</body>
</html>













