@page
@using SEP3.Models
@model SEP3.Pages.notificationModel
@{
    ViewData["Title"] = "notification";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/notification.css" />

    <title>Notification</title>
</head>

<body>
    <div class="layout">
        <center><img src="~/css/pictures/icons/logo1.png" width="500px" /></center>
        <div class="header">
            <div class="menu">
                <div class="item">
                    <a asp-page="/profile"><div class="option" id="profile">Profile</div></a>
                </div>

                <div class="item">
                    <a asp-page="/notification"><div class="option" id="notification">Notification</div></a>
                </div>

                <div class="item">
                    <a asp-page="/jobManagement"><div class="option" id="jobManagement">Jobs</div></a>
                </div>

                <div class="item">
                    <a asp-page="/history"><div class="option" id="history">History</div></a>
                </div>
            </div>
        </div>

        <div class="main">



            @if (Model.notifications.Count == 0)
            {
                <div class="notification-wrapper">
                    <div class="info">There's no notification</div>
                </div>
            }
            else
            {
                <div class="notifications-wrapper">
                    @foreach (string notification in Model.notifications)
                    {
                        <div class="notification-wrapper">
                            <div class="notification">
                                <div class="content">@notification</div>
                            </div>
                        </div>
                    }
                </div>
            }




        </div>

    </div>


</body>
</html>