body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right,#9796f0,#fbc7d4,#D3959B,#BFE6BA,#91EAE4,#86A8E7,#7F7FD5,#12c2e9,#c471ed,#654ea3,#eaafc8);
    background-size: 200%;
    animation: bgAnimation 90s infinite;
}


@keyframes bgAnimation {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}

.form{
    padding-top: 38px;
}



h1,label{
    text-shadow: #005bea 1.2px 0 0, #005bea 0 1.2px 0, #005bea -1.2px 0 0, #005bea 0 -1.2px 0;
    filter: brightness(105%);
}



.form-control{
    background-color: #fcf0f9;
}


#login-wrapper {
    width: 420px;
    height: 560px;
    margin-left: calc(50vw - 210px);
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#regist-wrapper {
    width: 880px;
    height: 560px;
    margin-left: calc(50vw - 440px);
    border-radius: 20px;
    padding: 30px 65px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}



#login-wrapper, #regist-wrapper {
    position: absolute;
    margin-top: calc(50vh - 280px);
    border-radius: 20px;
    backface-visibility: hidden;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    box-shadow: rgba(50, 50, 50, 0.2) 0 0 15px;
    overflow: hidden;
    transform-style: preserve-3d;
    font-size: 18px;
    font-weight: 500;
    color: white;
}





    #login-wrapper::after, #regist-wrapper::after {
        content: "";
        background: url("pictures/background images/copenhagen-denmark.jpg");
        background-size: cover;
        opacity: 0.8;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        filter: brightness(120%);
        filter: saturate(150%);
    }





#regist{
    top:5px;
}



#switch1{
    cursor: pointer;
    margin-top: 50px;
}


#switch1:hover{
    text-decoration: underline;
}


#switch2{
    cursor: pointer;
    margin-left: -20px;
    font-size: 22px;
}








@media screen and (max-width: 768px) {
    #regist-wrapper {
        width: 420px;
        margin-left: calc(50vw - 210px);
        padding: 30px 15px;
        height: 1000px;
        margin-top: calc(50vh - 500px);
    }

    #switch2 {
        margin-left: 5px;
        margin-top: 3px;
        cursor: pointer;
        font-size: 22px;
    }
}



@media screen and (max-width: 420px) {

    #login-wrapper {
        margin-left: 0;
    }

    #regist-wrapper {
        margin-left: 0;
    }

    #switch2 {
        margin-left: 5px;
        margin-top: 3px;
        cursor: pointer;
        font-size: 22px;
    }

}


@media screen and (max-height: 1000px) and (max-width: 768px) {

    #regist-wrapper {
        margin-top: 0;
    }

    #switch2 {
        margin-left: 5px;
        margin-top: 3px;
        cursor: pointer;
        font-size: 22px;
    }
}


@media screen and (max-height: 560px) {

    #login-wrapper {
        margin-top: 50px;
    }

    #regist-wrapper {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #switch2 {
        margin-top: 0px;
        font-size: 22px;
    }
}















.gradientButton {
    position: relative;
    width: 200px;
    height: 44px;
    line-height: 44px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    background: linear-gradient(to right, #ffeb3b, #9796f0, #D3959B, #91EAE4, #7F7FD5, #12c2e9, #eaafc8);
    background-size: 200%;
    border-radius: 20px;
    filter: brightness(102%);
    outline: none;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

    

    .gradientButton:hover {
        animation: bgAnimation 8s infinite;
    }


    .gradientButton::before {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        z-index: -1;
        background: linear-gradient(90deg, #ffeb3b, #9796f0, #D3959B, #91EAE4, #7F7FD5, #12c2e9, #eaafc8);
        background-size: 100%;
        border-radius: 25px;
        opacity: 0;
        transition: 0.5s;
    }



    .gradientButton:hover::before {
        filter: blur(5px);
        opacity: 1;
    }



    .gradientButton:focus, .gradientButton:active:focus, .gradientButton.active:focus, .gradientButton.focus, .gradientButton:active.focus, .gradientButton.active.focus {
        outline: none;
        border-color: transparent;
        box-shadow: none;
    }




