body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("/css/pictures/background/wood1.jpg");
    background-size: contain;
    display: flex;
    justify-content: center;
}

.layout {
  width: 1000px;
  height: 2000px;
}

.header {
  height: 80px;
  margin-top: 50px;
}

.menu {
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item {
  width: 250px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option {
    position: absolute;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    color: #6d4c41;
    position: relative;
    border: 3px solid #6d4c41;
    cursor: pointer;
}

#notification {
    color: white;
    background-image: url("/css/pictures/background/wood17.jpg");
    background-size: cover;
    width: 150px;
    height: 60px;
    border: 0px;
}

    #notification:hover {
        color: white;
    }

.main {
    background-image: url("/css/pictures/background/wood17.jpg");
    background-size: 600px 1000px;
    height: 2000px;
    border-radius: 20px;
    margin-top: 50px;
}











.notifications-wrapper {
    width: 1000px;
    height display: grid;
    grid-template-columns: 1fr;
}


.info {
    color: white;
    margin-top: 100px;
    font-size: 30px;
}



.notification-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification {
    background-image: url(backgroundImages/wood3.jpg);
    background-size: cover;
    width: 800px;
    height: 100px;
    border-radius: 20px;
    padding: 30px 50px;
    display: grid;
    column-gap: 5px;
    grid-template-areas: "title title title title title applicants applicants" "basicInfo basicInfo description description description description description" "basicInfo basicInfo description description description description description";
    cursor: pointer;
}


a:hover {
    text-decoration: none;
}

