body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("/css/pictures/background/wood1.jpg");
    background-size: contain;
    display: flex;
    justify-content: center;
}

.layout {
    width: 1000px;
    height: 2000px;
}

.header {
    height: 80px;
    margin-top: 50px;
}

.menu {
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item {
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option {
    position: absolute;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    color: #6d4c41;
    position: relative;
    border: 3px solid #6d4c41;
    cursor: pointer;
}

#profile {
    color: white;
    background-image: url("/css/pictures/background/wood17.jpg");
    background-size: cover;
    width: 150px;
    height: 60px;
    border: 0px;
}

    #profile:hover {
        color: white;
    }

.main {
    background-image: url("/css/pictures/background/wood17.jpg");
    background-size: 600px 1000px;
    height: 1000px;
    border-radius: 20px;
    margin-top: 50px;
    padding: 120px 80px 100px;
}

.account-info {
    display: grid;
    column-gap: 5px;
    grid-template-columns: 1fr 1fr;
    color: white;
    font-size: 20px;
}

.info{
    color:white;
    text-align: center;
    font-size: 30px;
}









.gradientButton {
    position: relative;
    bottom: 100px;
    right: 100px;
    width: 150px;
    height: 44px;
    line-height: 44px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    background: linear-gradient( to right, #ffeb3b, #9796f0, #d3959b, #91eae4, #7f7fd5, #12c2e9, #eaafc8 );
    background-size: 200%;
    border-radius: 20px;
    filter: brightness(108%);
    margin-top:100px;
    margin-right:-60px;
}

    .gradientButton:hover {
        animation: bgAnimation 8s infinite;
    }

    .gradientButton::before {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        z-index: -1;
        background: linear-gradient( 90deg, #ffeb3b, #9796f0, #d3959b, #91eae4, #7f7fd5, #12c2e9, #eaafc8 );
        background-size: 100%;
        border-radius: 25px;
        opacity: 0;
        transition: 0.5s;
    }

    .gradientButton:hover::before {
        filter: blur(5px);
        opacity: 1;
    }


    .gradientButton:focus, .gradientButton:active:focus, .gradientButton.active:focus, .gradientButton.focus, .gradientButton:active.focus, .gradientButton.active.focus {
        outline: none;
        border-color: transparent;
        box-shadow: none;
    }



a:hover {
    text-decoration: none;
}