body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("/css/pictures/background/wood1.jpg");
    background-size: contain;
    display: flex;
    flex-direction:column;
    align-items:center;
}


.search {
    width: 1000px;
    height: 250px;
    transform: translateX(-5%);

    display: flex;
    align-items: center;
}


.inputwrapper .input {
    border: 0;
    width: 100%;
    outline: none;
}


.inputwrapper {
    background-color: #6D4C41;
    width: 500px;
    height: 44px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.border-item {
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    border-radius: 30px;
    text-align: center;
}






.main {
    position: relative;
    width: 1000px;
    height: 1400px;
    background-image: url("/css/pictures/background/wood17.jpg");
    background-size: 500px 1400px;
    border-radius: 20px;
    margin-bottom:80px;

    padding-top: 60px;
}

.jobs-wrapper {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr;
}


.info {
    color: white;
    margin-top: 100px;
    font-size: 30px;
}



.job-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-wrapper a{
    color:black;
    text-decoration:none;
}

    .job-wrapper a:hover {
        color: black;
        text-decoration: none;
    }

.job {
    background-image: url("/css/pictures/background/wood3.jpg");
    background-size: cover;
    width: 900px;
    height: 180px;
    border-radius: 20px;
    padding: 10px 30px;
    display: grid;
    column-gap: 5px;
    grid-template-areas: "title title title title title title title" "basicInfo basicInfo description description description description description" "basicInfo basicInfo description description description description description";
    cursor: pointer;
}

.title {
    grid-area: title;
    font-size: 30px;
    margin-top: -15px;
    margin-left: -20px;
}

.basicInfo {
    grid-area: basicInfo;
    display: flex;
    flex-direction: column;
}

.description {
    grid-area: description;
    font-size: 20px;
}








.pagination {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    width: 500px;
    display:block;
}



.dropDownListForm {
    display: flex;
    flex-direction: column;
}



#pageSubmitButton {
    width:50px;
    background-color: white;
    color: black;
    font-size: 12px;
}



.page-button {
    width: 80px;
    background-color: white;
    color: black;
    font-size: 12px;
}










.gradientButton {
    width: 135px;
    height: 38px;
    line-height: 38px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    background: linear-gradient( to right, #ffeb3b, #9796f0, #d3959b, #91eae4, #7f7fd5, #12c2e9, #eaafc8 );
    background-size: 200%;
    border-radius: 25px;
    filter: brightness(108%);
}


.buttonwrapper {
    background-color: #6D4C41;
    width: 142px;
    height: 44px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .gradientButton:hover {
        animation: bgAnimation 8s infinite;
    }

    .gradientButton::before {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        z-index: -1;
        background: linear-gradient( 90deg, #ffeb3b, #9796f0, #d3959b, #91eae4, #7f7fd5, #12c2e9, #eaafc8 );
        background-size: 100%;
        border-radius: 25px;
        opacity: 0;
        transition: 0.5s;
    }

    .gradientButton:hover::before {
        filter: blur(5px);
        opacity: 1;
    }


.gradientButton, .gradientButton:hover, .gradientButton:focus, .gradientButton:active:focus, .gradientButton.active:focus, .gradientButton.focus, .gradientButton:active.focus, .gradientButton.active.focus {
    outline: none;
    border-color: transparent;
    box-shadow: none;
}


@keyframes bgAnimation {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}