@page
@model SEP3.Pages.homepageModel
@{
    ViewData["Title"] = "homepage";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href=~/css/homepage.css />


    <title>VikarApp</title>
</head>





<body>


    <a asp-page="/account/profile">
        <div class="account">
            <img src="~/css/pictures/icons/user.png" width="50px">
            <p id="account">Account</p>
        </div>
    </a>




    <div id="body">
        <center><img id="logo" src="~/css/pictures/icons/logo1.png" alt="logo"></center>

        
        <form method="post">
            <div class="search">
                <div class="inputwrapper">
                    <input class="border-item" type="text" placeholder="Search in City" aria-label="Search" asp-for="SearchString">
                </div>


                <div class="buttonwrapper">
                    <button type="submit" class="gradientButton">Search</button>
                </div>
            </div>
        </form>

        

    </div>








 
</body>
</html>

