@page
@model SEP3.Pages.homepageModel
@{
    ViewData["Title"] = "homepage";
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/homepage.css">


    <title>VikarApp</title>
</head>





<body>


    <a href="account.html">
        <div class="account">
            <img src="icons/user.png" width="50px">
            <p id="account">Account</p>
        </div>
    </a>




    <div id="body">
        <img id="logo" src="icons/logo.png" class="rounded mx-auto d-block" alt="logo">

        <div class="search">

            <div class="inputwrapper">
                <input class="border-item" type="text" placeholder="Search in City" aria-label="Search">
            </div>

            <div class="button">GO</div>

        </div>

    </div>








 
</body>
</html>

